* {
  margin: 0px;
  font-size: 20px;
}

div {
  height: 50px;
  background-color: red;
}

.container1 {
  width: 50%;
  font-size: 1rem; /* r steht für root*/
}

.container2 {
  width: 50vw;
  height: 50vh;
  font-size: 0.4rem;
}

.main {
  background-color: green;
  padding: 10px;
  height: 200px;
  width: 200px;
}
