li {
  display: list-item;
  list-style-type: square;
}

.box {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 600px;
  width: 750px;
  border: 2px solid black;
  margin: 75px;
  position: relative;
}

.main {
  font-size: 20px;
  font-weight: bold;
  height: 300px;
  width: 460px;
  margin: 20px;
  padding: 20px;
  background-color: rgb(102, 132, 149);
  position: relative;
  border: 2px solid black;
}

.sub {
  height: 100px;
  width: 100px;
  background-color: rgb(200, 123, 123);
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.sidebar {
  background-color: rgb(200, 110, 200);
  height: 150px;
  width: 150px;
  position: absolute;
  right: 0px;
  top: 0px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.navigation {
  background-color: yellow;
  height: 100px;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.navigation-box {
  background-color: yellowgreen;
  height: 75px;
  width: 75px;
  border: 2px solid black;
}
