body {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0)
    ),
    url("pictures/background.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 0;
}

.header {
  background-color: black;
  height: 83px;
  color: #616161;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.025rem;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.options ul li {
  display: inline-block;
  padding: 0 15px;
  color: #616161;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.options ul li:hover {
  color: white;
}

.logo img {
  height: 40px;
  width: 40px;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.icons img {
  height: 27px;
  width: 27px;
}

.icons > *:hover {
  filter: brightness(0) invert(1);
  cursor: pointer;
}

.login {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  color: #616161;
}

.login:hover p {
  color: white;
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  color: #333;
}

#background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #fff, rgba(0, 0, 0, 0.001) 50%),
    linear-gradient(90deg, #fff, rgba(0, 0, 0, 0.001) 50%);
}

.gradientcontent {
  position: relative;
  padding: 0 100px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.gradientcontent h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: -0.22rem;
  font-stretch: ultra-condensed;
  margin-bottom: 20px;
}

.gradientcontent p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
}

.minimenu {
  display: flex;
  gap: 20px;
}

.box {
  padding: 10px 20px;
  border: 1px solid #333;
  color: #333;
  cursor: pointer;
}

.box#box1 {
  background-color: white;
  color: black;
}

.box#box2 {
  background-color: #0078d7;
  color: white;
}

.box1:hover {
  background-color: #333;
  color: white;
}

.chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1000;
}

.chatbot img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
